.App {
  text-align: center;
  background-color: #ff9c8f;
  align-items: center;
  justify-content: center;
}
/* #00d87e  #f75f86 */
header {
  padding-inline: 2vh;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ff9c8f;
  color: #cff460;
  -webkit-text-stroke: 0.04vh black;
}

.title {
  font-size: 6vh;
}

.portfolio>a {
  font-size: 5vh;
  text-decoration: none;
  color: #cff460;
}

.game-board {
  flex-direction: column;
  background-color: #ffdbdb;
  height: 90vh;
}

.board {
  width: 70vw;
  height: 70vw;
  display: grid;
  grid-template-columns: 20vw 20vw 20vw;
  grid-template-rows: 20vw 20vw 20vw;
}

.square {
  background-color: #f75f86;
  width: 20vw;
  height: 20vw;
  border: 0.3vh solid #00d87e;
}